body{
    background-image: url("/Images/Desktop2.jpg");
    color: rgba(162, 124, 109, 1);
    font-family: sans-serif;
}
header{
    background-color: rgba(248, 246, 244, 1);
}
header>img{
    margin-left: 7%;
}
.top{
    display: flex;
    flex-direction: row;
}
.icon{
    width: 15%;
    height: 6px;
    background-color:rgba(162, 124, 109, 1);
    margin: 3px 0;
}
.icon>p{
    font-weight: bolder;
}
.big{
    background-color: rgba(238, 238, 238, 1);
    padding-left: 5%;
}
.big>h3{
    background-color: rgba(248, 246, 244, 1);
}
#big-s{
    padding-left: 4%;
}
.vl-one{
    border-left: solid 5px rgba(162, 124, 109, 1);
}
.des>p{
    font-size: 200%;
    font-weight: bold;
}